a:hover {text-decoration: underline;}
.sp-default-logo {position: relative; top: 0px;}
#sp-top-bar {bacground-color: #efefef; line-height: 10px; padding-bottom: 6px;}
#sp-header { border-top: 5px solid #efefef;}
.social-icons {float: right;}
.sp-megamenu-parent > li > a, #offcanvas-toggler {line-height: 80px;}
/** menu **/
.sp-megamenu-parent > li > a{
	padding: 0px 5px;
font-size: 13px;}

.m_hom i {font-size: 1.5em;} 
.sppb-divider-border {
	background: transparent url("../images/divi.gif") repeat-y scroll 0px 0px;
	 background-size: 100px 2px;
	padding-top: 2px;
 }
 
 #sp-header .logo {
    }
 
 .logo  H1 {
	height: 80px;
 	line-height: 80px;
	font-size: 20px!important;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #009240;
	font-weight: 400;
	padding-left: 60px!important;
	background: transparent url("../images/herb-klomnice.png") no-repeat scroll 0px 15px;
}

/** mod **/
.nspArt { padding: 5px!important;}
#sp-page-builder .sppb-section-title {
    margin-bottom: 5px;  border-bottom: 1px solid #eee;
}

.ist {
	color: white;
	background-color: #d71313;
	padding: 0 10px;
	}
.ist .nspArt{padding: 0px !important;}
.ist .nspLinks .nspLinkScroll1 ul li {
	color: white;
	background-color: #d71313;
	}
.ist h4 a {font-weight: 800; color: white;}
.ist .readon, .ist .readon-button {color: white;}
.ist .even   {padding: 0px; margin: 0px;}
 .ist .nspArt h4.nspHeader {padding-bottom: 20px;}
 .ist .even h4, .ist .odd h4 {margin: 0px; padding-left: 10px; border-left: solid white 10px;}
.ist .even h4 a, .ist .odd h4 a {font-weight: 400; color: white; }
.ist .nspHeader::before {
    content: " ";
font-family: FontAwesome;
font-size: 1.6em;
float: right;
margin-right: 5px;
}

.urz .nspArt{padding: 0px !important;}
.urz .nspLinks .nspLinkScroll1 ul li {background-color: #E0E0E0;}
.urz h3, .urzl h3 {border-bottom: 1px solid #eee; font-weight: 600; padding-bottom: 5px; font-size: 16px; background-color: #23527C; color: white; padding: 5px;}
.urz h4 a {font-size: 14px; font-weight: 400;}
 .urz h4 a:hover, .urz h4 li a :hover, .nav > li > a:hover {text-decoration: underline;}
.urz .readon, .urz .readon-button {}
.urz .even   {padding: 0px; margin: 0px;}
.urz  .nspArt h4.nspHeader {padding-bottom: 20px;}
.urz  .even h4, .urz .odd h4, .urz h4, .urzl .sppb-addon-content li a {margin: 0px; padding-left: 10px!important; border-left: #23527C solid 10px;}
.urzl .sppb-addon-content li  {margin: 10px 0px; border-bottom: 1px solid #eee;}
.urzl .sppb-addon-content li  a {margin: 10px 0px; padding: 0px 0px; }
.urz  .even h4 a, .urz .odd  h4 a {font-weight: 400; font-size: 14px; }
//** .urz  .sppb-addon-title::before {
    content: " ";
font-family: FontAwesome;
font-size: 1.6em;
float: right;
margin-right: 5px;
position: relative;
top: -10px;
} **//

.sppb-addon-content {margin: 4px; padding-left: 10px!important; border-left: #23527C solid 10px;}
.zap .nspArt h4.nspHeader { font-size: 15px; margin: 0px; padding: 10px 10px 15px;  background-color: rgb(7, 77, 137); }
.zap .nspArt h4.nspHeader a {color:white;}

.iurz .sppb-container .sppb-title-heading::before {
    content: " ";
font-family: FontAwesome;
font-size: 1em;
float: left;
margin-right: 5px;
}

